:root {
  --font-name: monospace;
  /* --font-name: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
}


* {
  box-sizing: border-box;
}

hr {
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  background-color: #404040;
  border-color: #404040;
  color: #404040;
}

body {
background-color: #111418;
font-size: 100%;
}

/*
.bigfatface {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 5;
  width: 20%;
  height: 20%;
  padding-top: 10px;
}
*/
.fatfaceimage {
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.newsletter {
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size:1vw;
  line-height: 50%;
  font-family: var(--font-name);
}


body form .button {
     font-family: var(--font-name);
     background:#404040;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 24px;
     cursor: pointer;
}
body form .button:hover {background-color: #727272 !important;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;}

body form .email {
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
}

body form {
     margin-top: 5px;
     horizontal-align: center}

/* css soup for vertical aligning the big logo */
.outer {
  display: table;
  position: absolute;
  height: 45%;
  width: 100%;
  vertical-align: top;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  horizontal-align: center;
  /*whatever width you want*/
}


.bottombar {
    display: table-row;
    height: 30%;
    width: 100%;
    position: fixed;
    bottom: 1%;
    z-index: 10;
    overflow-x: hidden;
    padding-top: 1%;
    vertical-align: top;
}
.bottombarfont {
  font-size:1.5vw;
  line-height: 50%;
  font-family: var(--font-name);
}



.rowwriting {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1px;
  padding-top: 1px;
}
/* Clearfix (clear floats) */
.rowwriting::after {
  content: "";
  clear: both;
  display: table;
}
.rowbrands {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
.rowbrands::after {
  content: "";
  clear: both;
  display: table;
}
.columnbrands {
  float: left;
  width: 25%;
  height: auto;
  padding: 5px;
}
.brandimg {
  width: 20%;
  height: auto;
}


.rowsocial {
  width: 60%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
.rowsocial::after {
  content: "";
  clear: both;
  display: table;
}
.columnsocial {
  float: left;
  width: 33.3%;
  height: auto;
  padding: 5px;
}
.socialimg {
  width: 10%;
  height: auto;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
} */











/* responsive shit*/

@media screen and (max-width: 1500px) {
  .brandimg {
    width: 50%;
  }
  .socialimg {
    width: 30%;
  }
}
/*
@media screen and (max-height: 1000px) {
  .bottombar {
      padding-top: 0;
  }
  .brandimg {
    width: 20%;
  }
}
*/

/* Nexus 5X*/
@media screen and (max-height: 450px) {
  .brandimg {
    width: 50%;
  }
  .socialimg {
    width: 15%;
  }
  .bottombar {
      display: table-row;
      height: 30%;
      width: 100%;
      position: fixed;
      bottom: 1%;
  }
  .outer {
    display: block;
    position: fixed;
    top: 10%;
  }
}
/*
@media screen and (max-height: 800px) {
  .bigfatface {
    width: 10%;
  }
  .bottombar {
      padding-top: 0;
      bottom: 5%;
  }
}
*/
