
body {
background-color: #111418;
font-size: 100%;
}

.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: center; }
.item4 { grid-area: right; }
.item5 { grid-area: social1; }
.item6 { grid-area: social2; }
.item7 { grid-area: social3; }
.item8 { grid-area: empty; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header'
    'left left center center center right right'
    'oneseventh oneseventh oneseventh oneseventh oneseventh oneseventh oneseventh '
    'empty social1 empty social2 empty social3 empty';
  background-color: #111418;
}

.grid-container > div {
  background-color: #111418;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;


.fatfaceimage {
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}



/* .grid-item {
  background-color: #111418;
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */
